div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h1 {
    color: black;
    background-color: purple;
}

h1:hover {
    background-color: blue;
}